{% extends "layout.twig" %}
{% block title %} Registro {% endblock %}

{% block main_container %}
    <h2>Registro</h2>
    <div class="row">
        <div class="col-sm-offset-2 col-sm-10">
            <a href="/log/delete">
            <button class="btn btn-dark" id="delete-logs" type="submit">Eliminar</button>
            </a>
        </div>
    </div>

        <div class="table-responsive overflow-hidden">
            <table class="table table-hover" id="tableUsers">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Método</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Petición</th>
                </tr>
                </thead>
                <tbody>
                {% for log in logList %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ log.date }}</td>
                        <td>{{ log.action }}</td>
                        <td>{{ log.type }}</td>
                        <td>{{ log.url }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}