{% extends "layout.twig" %}
{% block title %} Lista de ofertas compradas {% endblock %}
{% block main_container %}
    <!-- Búsqueda -->
    <h2>Ofertas compradas</h2>
    <div class="row">
        <!-- http://librosweb.es/libro/bootstrap_3/capitulo_2/tipos_de_rejillas.html -->
        <!-- Inicio del Bloque canción -->
        {% for offer in offers %}
            <div class="card-deck">
                <div class="card border-dark mb-3" style="max-width: 18rem; min-width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ offer.price }} €</h5>
                        <h6 class="card-subtitle">{{ offer.title }} </h6>
                        <p class="card-text">{{ offer.description}}</p>
                        <p class="card-text">{{ offer.author}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        <!-- Fin del Bloque canción -->
    </div>
    <!-- Paginación mostrar la actual y 2 anteriores y dos siguientes -->
    <div class="row text-center">
        <ul class="pagination">
            {% for page in pages %}
                <li class="page-item" id="pi-{{ page }}">
                    <a class="page-link" href="/purchasedList/?page={{ page }}"> {{ page }}</a>
                </li>
            {% endfor %}
            <script>
                $("#pi-"+"{{ currentPage }}").addClass("active");
            </script>
        </ul>
    </div>
{% endblock %}