{% extends 'layout.twig' %}

{% block title %} Home {% endblock %}

{% block main_container %}
    <div class="text-body" style="text-align: center">
        <h2>¡Bienvenido a UrWalletPop!</h2>
        <h3>En esta sección se encuentran tus datos y ofertas personales, representa un aspecto privado con respecto a
            otros usuarios.</h3>
        <section>
            <div class="profileData">
                <p>
                    Usuario autenticado como:
                    <br>
                    <strong>{{ user }}</strong>
                </p>
            </div>
            <div class="profileData">
                <p>
                    Fecha de nacimiento:
                    <br>
                    <strong>{{ date }}</strong>
                </p>
            </div>
            <div class="profileData">
                <p>
                    Actualmente tiene un crédito total de:
                    <br>
                    <strong>{{ amount }} €</strong>
                </p>
            </div>
        </section>
        {% for offer in offers %}
            <div class="card border-dark mb-3" style="max-width: 18rem;min-width: 18rem; ">
                <div class="card-body">
                    <img class="card-img-top" height="256" src="/images/Symbol.png" width="256"/>
                    <h3 class="card-title">{{ offer.price }} EUR</h3>
                    <h4 class="card-subtitle" id="titleFeatured">{{ offer.title }}</h4>
                    <p class="card-text">{{ offer.description }}</p>
                    <h6 class="card-link" id="date">{{ offer.date }}</h6>
                    {% if offer.purchase %}
                        <div class="d-flex flex-row">
                            <button class="btn btn-info" type="button">
                                Vendida
                            </button>
                        </div>
                    {% else %}
                        <div class="d-flex flex-row">
                            <a href='/offer/purchase/{{ offer._id }}'>
                                <button class="btn btn-success" type="button">
                                    Comprar
                                </button>
                            </a>
                        </div>
                    {% endif%}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
